.containerr {
  width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
  text-align: center;
  color: #007BFF; /* Blue accent color */
}

form {
  display: flex;
  flex-direction: column;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
  margin: 10px 0;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease-in-out;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus {
  outline: none;
  border-color: #007BFF; /* Blue focus color */
}

button {
  margin-top: 20px;
  padding: 12px 20px;
  font-size: 16px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

button[type="button"] {
  background-color: #28a745; /* Green button */
  margin-top: 10px;
}

button[type="button"]:hover,
button[type="submit"]:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

button[type="button"]:focus,
button[type="submit"]:focus {
  outline: none;
}

.add-button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 8px 12px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.add-button:hover {
  background-color: #218838;
}

.field-container {
  margin-bottom: 20px;
}

.field-container h2 {
  margin-bottom: 10px;
}

.field-container > div {
  margin-bottom: 10px;
}

.field-container > div > input {
  margin-top: 5px;
}
